<md-content>
    <md-list>
          <md-subheader class="md-no-sticky">3 line item</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="item in working.boards">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{item.name}} - {{item.id}}</h3>
              <h4>{{item.description}}</h4>
              <p>{{item.notes}}</p>
            </div>
            <ng-md-icon icon="delete" style="fill:grey" size="32" ng-click="delete(item)"></ng-md-icon>
          </md-list-item>
          <md-divider ></md-divider>
    </md-list>
</md-content>